<template>
  <PostList @PostClick="GetPostDetails($event)"/>
</template>

<script> 
import { mapGetters } from 'vuex'
import PostList from '@/components/posts/PostList';

export default {
  components:{
    PostList
  },
  computed: {
      ...mapGetters['account']
  },
  methods: {
    FetchData() {
      this.$store.dispatch('GetPostsUser', this.$route.params.userName);
    },
    GetPostDetails(postId) {
      this.$router.push('/posts/update/' + postId);
    }
  },
  created() {
    this.FetchData();
  }
}
</script>

<style>

</style