<template>
  <PostCreate @Submit="CreatePost"/>
</template>

<script>
import { mapGetters } from 'vuex';
import PostCreate from '@/components/posts/PostWrite'

export default {
  components: {
    PostCreate
  },
  computed: {
    ...mapGetters(['post']),
  },
  methods: {
    CreatePost() {
      this.$store.dispatch('CreatePost')
      .then(() => {
        this.$router.push({ name: 'Home' });
      });
    }
  },
  mounted() {
    this.$store.dispatch('ClearPost');
  }
};
</script>

<style>
</style>