<template>
  <PostRead :ContentObject="ContentObject" />
</template>

<script>
import { mapGetters } from "vuex";
import PostRead from "@/components/posts/PostRead";

export default {
  components: {
    PostRead,
  },
  data: () => ({
    ContentObject: {},
  }),
  computed: {
    ...mapGetters(["postContent"]),
  },
  methods: {
    FetchData() {
      this.$store.dispatch("GetPost", this.$route.params.postId)
      //Issue with post content data being ready for write component to use in editor.setContents()
      //after call is ready, load the content data into a variable then assigne it to a prop in PostWrite and which trigegrs the setContents() method inside a watcher
      .then(() => {
        this.ContentObject = this.postContent;
      });
    },
  },
  created() {
    this.FetchData();
  },
};
</script>

<style>
</style>