<template>
    <UpdatePost @Submit="UpdatePost()" :ContentObject="ContentObject" :PostThumbnailPreviewURL="PostThumbnailPreviewURL"/>
</template>

<script>
import { mapGetters } from "vuex";
import UpdatePost from '@/components/posts/PostWrite'

export default {
    components: {
        UpdatePost
    },
    data: () => ({
        ContentObject: {},
        PostThumbnailPreviewURL: ""
    }),
    computed: {
        ...mapGetters(["post", "postContent"]),
    },
    methods: {
        FetchData() {
            this.$store.dispatch('GetPost', this.$route.params.postId)
            //Issue with post content data being ready for write component to use in editor.setContents()
            //after call is ready, load the content data into a variable then assigne it to a prop in PostWrite and which trigegrs the setContents() method inside a watcher
            .then(() => {
                this.ContentObject = this.postContent;
                this.PostThumbnailPreviewURL = this.post.thumbnail;
            });
        },
        UpdatePost() {
            this.$store.dispatch('UpdatePost', this.$route.params.postId);
        }
    },
    created() {
        this.FetchData();
    }
}
</script>

<style>

</style>