<template>
  <v-container>
    <v-row>
      <v-col offset-md="1" lg="8">
        <v-text-field v-model="searchText" label="Search" outlined></v-text-field>
      </v-col>
      <v-col lg="1">
        <v-btn @click="SearchUser">SEARCH</v-btn>
      </v-col>
      <v-col lg="1">
        <DialogNewUser />
      </v-col>
    </v-row>
    <v-card>
      <v-card-title>
        Users
        <v-spacer></v-spacer>
        <v-text-field
          v-model="filterText"
          append-icon="mdi-magnify"
          label="Filter"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="users"
        :items-per-page="5"
        class="elevation-1"
        @click:row="EditUser"
      >
        <template v-slot:item.twoFactorEnabled="{ item }">
          <v-simple-checkbox v-model="item.twoFactorEnabled" disabled></v-simple-checkbox>
        </template>
      </v-data-table>
    </v-card>
    <DialogUpdateUser v-model="showUpdateUserDialog" />
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import DialogNewUser from '@/components/dialogs/DialogNewUser';
import DialogUpdateUser from '@/components/dialogs/DialogUpdateUser';

export default {
  components: {
    DialogNewUser,
    DialogUpdateUser
  },
  data: () => ({
    searchText: '',
    filterText: '',
    showUpdateUserDialog: false,
    headers: [
      { text: 'Username', align: 'start', value: 'username' },
      { text: 'Email', value: 'email' },
      { text: 'First Name', value: 'firstName' },
      { text: 'Last Name', value: 'lastName' },
      { text: 'Phone Number', value: 'phoneNumber' },
      { text: 'Role(s)', value: "roles" },
      { text: 'Two Factor Enabled', value: 'twoFactorEnabled' }
    ]
  }),
  methods: {
    SearchUser() {
      this.$store.dispatch('SearchUser', this.searchText);
    },
    EditUser(user) {
      this.$store.dispatch('GetUser', user.username).then(() => {
        this.showUpdateUserDialog = true;
      });
    }
  },
  computed: {
    ...mapGetters(['users'])
  }
};
</script>

<style>
</style>