<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <!-- For default quill styles applied there needs to be a parents html element with clss ql-snow and a child ql-editor -->
        <v-card class="ql-snow">
          <v-card-title
            ><v-img :src="`${post.thumbnail}`" contain max-height="500"></v-img>{{ post.title }}</v-card-title
          >
          <v-card-subtitle>By {{ post.userName }}</v-card-subtitle>
          <v-card-text class="ql-editor" v-html="contentString"></v-card-text>
          <quill-editor
          v-model="contentString"
            v-show="false"
            class="editor"
            ref="editor"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core";
import "quill/dist/quill.snow.css";

export default {
  components: {
    quillEditor,
  },
  props: {
    ContentObject: {},
  },
  data: () => ({
    contentString: ""
  }),
  computed: {
    ...mapGetters(["post"]),
    editor() {
      return this.$refs.editor.quill;
    }
  },
  watch: {
    ContentObject() {
      console.log(this.ContentObject)
      this.editor.setContents(this.ContentObject);
    },
  },
};
</script>

<style>
.bold-true {
  font-weight: bold;
}
.italic-true {
  text-decoration: line-through;
}
.underline-true {
  text-decoration: underline;
}
.strike-true {
  font-style: italic;
}
</style>