<template>
  <v-form v-model="valid" class="view">
    <v-container>
      <v-col offset-lg="1" lg="10">
        <v-row>
          <v-text-field
            outlined
            v-model.trim="post.title"
            type="text"
            id="input-text-post-title"
            class="input-text"
            label="Title:"
            placeholder="Title"
            :rules="titleRules"
            @keyup.enter="CreatePost"
        /></v-row>
        <v-row>
          <v-file-input v-model="post.thumbnail" @change="UpdateThumbnailPreview" accept="image/png, image/jpeg" placeholder="Choose a thumbnail" prepend-icon="mdi-camera" label="Thumbnail"></v-file-input>
          <v-img :src="thumbnailImagePreview" contain></v-img>
        </v-row>
        <quill-editor
          v-model="content"
          class="editor"
          ref="editor"
          :options="editorOptions"
        />
        <v-btn
          id="button-create-post"
          class="button-create-post"
          @click="Submit"
          color="accent"
          :disabled="!valid"
          >SUBMIT</v-btn
        >
      </v-col>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core";
import "quill/dist/quill.snow.css";

export default {
  components: {
    quillEditor,
  },
  props: {
    ContentObject: {},
    PostThumbnailPreviewURL: {
      type: String,
      default: "",
      required: false
    }
  },
  data: () => ({
    valid: true,
    thumbnailImagePreview: "",
    titleRules: [(v) => !!v || "Title is required"],
    contentRules: [(v) => !!v || "Content is requried"],
    content: "",
    editorOptions: {
      modules: {
        toolbar: [
          ["bold", "italic", "underline", "strike"],
          ["blockquote", "code-block"],
          [{ header: 1 }, { header: 2 }],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ script: "sub" }, { script: "super" }],
          [{ indent: "-1" }, { indent: "+1" }],
          [{ direction: "rtl" }],
          [{ size: ["small", false, "large", "huge"] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ font: [] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ["clean"],
          ["link", "image", "video"],
        ],
      },      
    },
  }),
  computed: {
    ...mapGetters(["post"]),
    editor() {
      return this.$refs.editor.quill;
    },
  },
  methods: {
    Submit() {
      this.$emit("Submit");
    },
    UpdateThumbnailPreview(thumbnail){
      var fileReader = new FileReader();
      fileReader.onload = () => {
        this.thumbnailImagePreview = fileReader.result;
      };
      fileReader.readAsDataURL(thumbnail);
    }
  },
  watch: {
    content() {
      this.post.content = JSON.stringify(
        this.$refs.editor.quill.getContents()
      );
    },
    ContentObject() {
      this.editor.setContents(this.ContentObject);
    },
    PostThumbnailPreviewURL(){
      this.thumbnailImagePreview = this.PostThumbnailPreviewURL
    }
  },
  created(){
    this.thumbnailImagePreview = this
  }
};
</script>

<style>
.editor {
  height: 30rem;
}

.ql-container {
  height: 80%;
}
</style>