<template>
  <v-container>
    <v-row>
      <v-col v-for="post in posts" :key="post.postId" cols="12">
        <v-card @click="PostClick(post.postId)">
          <v-card-title>
            <v-img :src="post.thumbnail" contain max-height="150" >{{ post.title }}</v-img>
          </v-card-title>
          <v-card-subtitle>By {{ post.userName }}</v-card-subtitle>
          <!-- <v-card-text>{{ post.content }}</v-card-text> -->
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    AdvancedView: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters(["posts"]),
  },
  methods: {
    PostClick(postId) {
      this.$emit("PostClick", postId);
    },
  },
};
</script>

<style>
</style>