<template>
  <v-form v-model="valid" class="view">
    <v-container>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            disabled
            v-model.trim="account.email"
            type="text"
            id="input-text-email"
            class="input-text"
            label="Email:"
            placeholder="Email"
            :rules="emailRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            disabled
            v-model.trim="account.username"
            type="text"
            id="input-text-username"
            class="input-text"
            label="Username:"
            placeholder="Username"
            :rules="usernameRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            v-model.trim="account.firstName"
            type="text"
            id="input-text-first-name"
            class="input-text"
            label="First Name:"
            placeholder="First Name"
            :rules="firstNameRule"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            v-model.trim="account.lastName"
            type="text"
            id="input-text-last-name"
            class="input-text"
            label="Last Name:"
            placeholder="Last Name"
            :rules="lastNameRule"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            v-model.trim="account.phoneNumber"
            type="number"
            id="input-text-phone"
            class="input-text"
            label="Phone Number:"
            placeholder="123-456-7890"
            :rules="phoneRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-checkbox
            v-model="account.twoFactorEnabled"
            label="Two Factor Enabled"
            id="input-text-two-factor-enabled"
            class="input-checkbox"
          ></v-checkbox>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-btn
            id="button-resend-confirmation-email"
            class="ma-2 button-resend-confirmation-email"
            @click="ResendConfirmationEmail"
            >Resend Confimation Email
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset="1" cols="10">
          <v-row justify="center" justify-lg="end">
            <DialogConfirmDeleteAccount v-model="dialog" TitleText="Delete User" MessageText="Are you sure you want to delete this user? All posts will be deleted as well." @Confirm="ConfirmDeleteAccount"/>            
            <v-btn
              id="button-update"
              class="ma-2 button-update"
              color="accent"
              :disabled="!valid"
              @click="UpdateDetails"
            >UPDATE</v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

  </v-form>
</template>

<script>
import { mapGetters } from 'vuex';
import DialogConfirmDeleteAccount from '@/components/dialogs/DialogConfirmation';

export default {
  components: {
    DialogConfirmDeleteAccount
  },
  data: () => ({
    valid: true,
    dialog: false,
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+\..+/.test(v) || 'Email is not valid'
    ],
    usernameRules: [
      v => !!v || 'Username is required',
      v => (v && v.length > 4) || 'Username must be more than 4 characters'
    ],
    firstNameRule: [v => !!v || 'First name required'],
    lastNameRule: [v => !!v || 'Last name required'],
    phoneRules: [
      v => !!v || 'Phone number required',
      v => (v && v.length >= 10) || 'Phone number too short'
    ]
  }),
  computed: {
    ...mapGetters(['account'])
  },
  methods: {
    UpdateDetails() {
      this.$store.dispatch('UpdateDetails');
    },
    OpenDeleteUserDialog(){
      this.dialog = true;
    },
    ConfirmDeleteAccount(){
      this.$store.dispatch('DeleteAccount').then(() => {
        this.$router.push({ name: 'Login' });
      });
    },
    ResendConfirmationEmail(){
      this.$store.dispatch('SendConfirmationEmail');
    }
  },
  mounted() {
    this.$store.dispatch("GetDetails");
  }
};
</script>

<style>
</style>