<template>
  <v-card>
      <div></div>
  </v-card>
</template>

<script>
export default {
    data: () => ({
        MainText: "Please wait while youe email is being confirmed."
    }),
    methods:{
        ConfirmEmail(token){
            this.$store.dispatch("ConfirmEmail", token) 
            .then(() => {
                this.$router.push({ name: 'Home' });
            });
        }
    },
    mounted(){
       this.ConfirmEmail(this.$route.params.token);
    }
}
</script>

<style>

</style>