<template>
  <Login :ShowRegisterButton="true" @Login="Login" @LoginExternal="LoginExternal" />
</template>

<script>
import Login from '@/components/account/Login';

export default {
  components:{
    Login
  },
  methods: {
    Login() {
      this.$store
        .dispatch('login')
        .then(() => {
          this.$router.push({ name: 'Home' });
        });
    },
    LoginExternal(googleUser){
      var auth = googleUser.getAuthResponse();
      this.$store.dispatch('loginExternal', {Provider: "google", Token: auth.id_token})
      .then(() => {
        this.$router.push({ name: 'Home' });
      })
    }
  },
  mounted() {
    this.$anime({
      targets: '.view',
      opacity: ['0%', '100%'],
      duration: 10000
    });
  }
};
</script>

<style>
</style>>