<template>
  <v-form v-model="valid">
    <v-container>

      <v-row>
        <v-col offset-lg="3" lg="6">
          <v-text-field
            outlined
            v-model.trim="account.password"
            type="password"
            id="input-text-new-password"
            class="input-text"
            label="New Password:"
            placeholder="Enter a new password"
            @keyup.enter="PasswordReset"
            :rules="passwordRules"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col offset-lg="3" lg="6">
          <v-text-field
            outlined
            v-model.trim="account.confirmPassword"
            type="password"
            id="input-text-confirm-password"
            class="input-text"
            label="Confirm Password:"
            placeholder="Enter your new password again"
            @keyup.enter="PasswordReset"
            :rules="confirmPasswordRules.concat(passwordConfirmationRule)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col offset="3" cols="6">
          <v-row justify="center" justify-lg="end">
            <v-btn
              large
              color="accent"
              id="button-reset"
              class="button-reset"
              @click="PasswordReset"
              :disabled="!valid"
              >RESET</v-btn
            >
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    valid: true,
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length > 6) || "Password must be more than 6 characters",
    ],
    confirmPasswordRules: [
      (v) => !!v || "Confirm Password is required",
      (v) => (v && v.length > 6) || "Password must be more than 6 characters",
    ],
  }),
  methods: {
      PasswordReset(){
          this.$store.dispatch("PasswordReset", { UserName: this.$route.params.userName, Token: this.$route.params.token })
          .then(() => this.$router.push({ name: 'Login' }));
      }
  },
  computed: {
    ...mapGetters(["account"]),
    passwordConfirmationRule() {
      return () =>
        this.account.password === this.account.confirmPassword ||
        "Password must match";
    },
  },
};
</script>

<style>
</style>