<template>
  <v-form>
    <v-container>

      <v-row>
        <v-col offset-lg="3" lg="6">
          <v-text-field
            outlined
            v-model.trim="id"
            type="text"
            id="input-text-id"
            class="input-text"
            label="Username or Email:"
            placeholder="Enter the username or email of the account"
            @keyup.enter="PasswordResetSend"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col offset="3" cols="6">
          <v-row justify="center" justify-lg="end">
            <v-btn
              large
              color="primary"
              id="button-reset"
              class="button-reset"
              @click="PasswordResetSend"
              >RESET</v-btn
            >
          </v-row>
        </v-col>
      </v-row>

    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    id: "",
  }),
  methods: {
    PasswordResetSend() {
      this.$store.dispatch("PasswordResetSend", this.id);
    },
  },
  computed: {
    ...mapGetters(["account"]),
  },
};
</script>

<style>
</style>