<template>
  <Register :ShowControls="true" @Register="Register" @RegisterGoogle="RegisterGoogle" />
</template>

<script>
import Register from '@/components/account/Register';

export default {
  components: {
    Register
  },

  methods: {
    Register() {
      this.$store.dispatch('register')
      .then(() => {
        this.$router.push({ name: 'Home' });
      });
    },

    RegisterGoogle(googleUser){
      var auth = googleUser.getAuthResponse();
      this.$store.dispatch('registerExternal', {Token: auth.id_token, Provider: "google"})
      .then(() => {
        this.$router.push({ name: 'Home' });
      });
    }
  },
  
  mounted() {
    this.$anime({
      targets: ".view",
      opacity: ['0%', '100%'],
      duration: 10000
    });
  }
};
</script>

<style>
</style>