<template>
  <v-form v-model="valid" class="view">
    <v-container>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.email"
            type="text"
            id="input-text-email"
            class="input-text"
            label="Email:"
            placeholder="Email"
            :rules="emailRules"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.username"
            type="text"
            id="input-text-username"
            class="input-text"
            label="Username:"
            placeholder="Username"
            :rules="usernameRules"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.password"
            type="password"
            id="input-text-password"
            class="input-text"
            label="Password:"
            placeholder="Password"
            :rules="passwordRules"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.confirmPassword"
            type="password"
            id="input-text-confirm-Password"
            class="input-text"
            label="Confirm Password:"
            placeholder="Confirm Password"
            :rules="confirmPasswordRules.concat(passwordConfirmationRule)"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.firstName"
            type="text"
            id="input-text-first-name"
            class="input-text"
            label="First Name:"
            placeholder="First Name"
            :rules="firstNameRule"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.lastName"
            type="text"
            id="input-text-last-name"
            class="input-text"
            label="Last Name:"
            placeholder="Last Name"
            :rules="lastNameRule"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-lg="1" lg="10">
          <v-text-field
            outlined
            v-model.trim="user.phoneNumber"
            type="number"
            id="input-text-phone"
            class="input-text"
            label="Phone Number:"
            placeholder="123-456-7890"
            :rules="phoneRules"
            @keyup.enter="CreateUser"
          />
        </v-col>
      </v-row>
      <v-row>
          <v-col offset-lg="1" lg="10">
              <h3>Roles</h3>
              <v-checkbox v-model="user.roles" v-for="(role, index) in userRoles" :key="index" :label="role" :value="role" class="mx-2" ></v-checkbox>
          </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    ShowControls: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    valid: true,
    roleCheckBoxes: [],
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+\..+/.test(v) || "Email is not valid"
    ],
    usernameRules: [
      v => !!v || "Username is required",
      v => (v && v.length > 4) || 'Username must be more than 4 characters'
    ],
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length > 6) || 'Password must be more than 6 characters'
    ],
    confirmPasswordRules: [
      v => !!v || 'Confirm Password is required',
      v => (v && v.length > 6) || 'Password must be more than 6 characters'
    ],
    firstNameRule: [v => !!v || 'First name required'],
    lastNameRule: [v => !!v || 'Last name required'],
    phoneRules: [
      v => !!v || 'Phone number required',
      v => (v && v.length >= 10) || 'Phone number too short'
    ]
  }),
  methods: {
    CreateUser() {
      if (this.valid) this.$emit('CreateUser');
    }
  },
  computed: {
    ...mapGetters(['user', 'userRoles']),
    passwordConfirmationRule() {
      return () =>
        this.user.password === this.user.confirmPassword ||
        'Password must match';
    }
  },
  created() {
    this.$store.dispatch('GetRoles');
  }
};
</script>

<style>
</style>