<template>
  <v-dialog v-model="dialog" max-width="290">
    <template v-slot:activator="{ on }">
      <v-btn
        id="button-register"
        class="ma-2 button-register"
        color="error"
        v-on="on"
      >DELETE</v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">{{TitleText}}</v-card-title>

      <v-card-text>{{MessageText}}</v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="CloseDialog">CANCEL</v-btn>

        <v-btn color="green darken-1" text @click="Confirm">CONFIRM</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    TitleText: {
      type: String,
      required: true
    },
    MessageText: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    CloseDialog(){
      this.dialog = false
    },
    Confirm(){
      this.$emit('Confirm');
    }
  }
};
</script>

<style>
</style>