<template>
  <v-dialog v-model="dialog" max-width="1000">
    <template v-slot:activator="{ on }">
      <v-btn id="button-register" class="button-register" color="success" v-on="on">NEW</v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">Create New User</v-card-title>

      <CreateUser @CreateUser="CreateUser" />

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="CloseDialog">CANCEL</v-btn>

        <v-btn color="green darken-1" text @click="CreateUser">CONFIRM</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import CreateUser from '@/components/user/CreateUser';

export default {
  components: {
    CreateUser
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    CloseDialog() {
      this.dialog = false;
    },
    CreateUser() {
      this.$store.dispatch('CreateUser').then(() => {
        this.CloseDialog();
      });
    }
  }
};
</script>

<style>
</style>