<template>
  <v-dialog v-model="dialog" max-width="1000">
    <v-card>
      <v-card-title class="headline">Update User</v-card-title>

      <UpdateUser @UpdateUser="UpdateUser" />

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="CloseDialog">CANCEL</v-btn>

        <v-btn color="green darken-1" text @click="UpdateUser">SAVE</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import UpdateUser from '@/components/user/UpdateUser';

export default {
  components: {
    UpdateUser
  },
  props: {
    value: Boolean
  },
  methods: {
    CloseDialog() {
      this.dialog = false;
    },
    UpdateUser() {
      this.$store.dispatch('UpdateUser').then(() => {
        this.$emit('CloseDialogUpdateUser');
      });
    }
  },
  computed: {
    dialog: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  }
};
</script>

<style>
</style>