<template>
  <PostList @PostClick="GetPost($event)"/>
</template>

<script> 
import PostList from '@/components/posts/PostList';

export default {
  components: {
    PostList
  },
  methods: {
    GetPost(postId) {
      this.$router.push('/posts/details/' + postId);
    }
  },
  created() {
    this.$store.dispatch('GetPosts');
  }
}
</script>

<style>

</style>