<template>
  <v-container>
    <v-row>
      <v-col lg="5" offset-lg="1">
        <v-row>
          <v-col lg="12">
            <v-list>
              <v-subheader>Front End</v-subheader>
              <v-list-item-group v-model="defaultItem">
                <v-list-item
                  @click="showFrontendInformation(i)"
                  v-for="(item, i) in frontend"
                  :key="i"
                >
                  <v-list-item-content>{{item.title}}</v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>
        <v-row>
          <v-col lg="12">
            <v-list>
              <v-subheader>Back End</v-subheader>
              <v-list-item-group>
                <v-list-item
                  @click="showBackendInformation(i)"
                  v-for="(item, i) in backend"
                  :key="i"
                >
                  <v-list-item-content>{{item.title}}</v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>
      </v-col>
      <v-col lg="5">
        <v-card>
          <v-img class="red--text align-end" height="200px" :src="information.image" contain>
            <v-card-title>{{information.title}}</v-card-title>
          </v-img>
          <v-card-text class="text--primary">
            <div>{{information.text}}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn color="orange" :href="information.link" target="_blank" text>Read More</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    defaultItem: 0,
    information: {},
    frontend: [
      {
        title: "VUE JS",
        text:
          "Vue.js is an open-source Model–view–viewmodel JavaScript framework for building user interfaces and single-page applications.",
        image: "https://udemy-images.udemy.com/course/750x422/995016_ebf4.jpg",
        link: "https://vuejs.org/"
      },
      {
        title: "Vuex",
        text:
          "Vuex is a state management pattern + library for Vue.js applications. It serves as a centralized store for all the components in an application, with rules ensuring that the state can only be mutated in a predictable fashion.",
        image: "https://s3.amazonaws.com/coursetro/posts/144-full.png",
        link: "https://vuex.vuejs.org/"
      },
      {
        title: "Vuetify",
        text:
          "Vuetify is a Material Design component framework for Vue.js. It aims to provide all the tools necessary to create beautiful content rich applications.",
        image:
          "https://madewithnetwork.ams3.cdn.digitaloceanspaces.com//spatie-space-production/1050/vuetify_overview.png",
        link: "https://vuetifyjs.com/en/"
      },
      {
        title: "Anime.js",
        text:
          "Anime.js (/ˈæn.ə.meɪ/) is a lightweight JavaScript animation library with a simple, yet powerful API. It works with CSS properties, SVG, DOM attributes and JavaScript Objects.",
        image:
          "http://cdn.designbeep.com/wp-content/uploads/2016/06/anime-1.jpg",
        link: "https://animejs.com/"
      },
      {
        title: "Axios",
        text: "Promise based HTTP client for the browser and node.js.",
        image: "https://avatars3.githubusercontent.com/u/32372333?s=200&v=4",
        link: "https://github.com/axios/axios"
      }
    ],
    backend: [
      {
        title: "C# ASP.ENT Core",
        text:
          "ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.",
        image:
          "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1200px-.NET_Core_Logo.svg.png",
        link:
          "https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1"
      },
      {
        title: "MSSQL",
        text:
          "Microsoft SQL Server is a relational database management system developed by Microsoft.",
        image: "https://odino.org/images/mssql-logo.png",
        link: "https://www.microsoft.com/en-us/sql-server/sql-server-2019"
      },
      {
        title: "ASP.NET Identity",
        text:
          "ASP.NET Identity is the membership system for authentication and authorization of the users by building an ASP.NET application. The ASP.NET Identity is a fresh look at what the membership system should be when you are building modern applications for the web, phone or tablet.",
        image:
          "https://c.s-microsoft.com/en-us/CMSImages/ImgOne.jpg?version=D418E733-821C-244F-37F9-DC865BDEFEC0",
        link:
          "https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/introduction-to-aspnet-identity"
      }
    ]
  }),
  methods: {
    showFrontendInformation(index) {
      this.information = this.frontend[index];
    },
    showBackendInformation(index) {
      this.information = this.backend[index];
    }
  },
  created() {
    this.information = this.frontend[this.defaultItem];
  }
};
</script>

<style>
</style>