<template>
  <v-navigation-drawer v-bind="$attrs"  @input="test" app>
    <v-list-item-content>
      <router-link to="/">
        <div class="d-flex align-center">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="../../assets/logo.png"
            transition="scale-transition"
            width="100"
            to="/"
          />
        </div>
      </router-link>
    </v-list-item-content>
    <v-divider></v-divider>
    <v-list dense nav>
      <div v-for="(nav, index) in NavigationTree" :key="index">
        <v-list-item v-if="nav.subMenu.length <= 0" :to="nav.path">
          <v-list-item-title>
            {{nav.buttonText}}
          </v-list-item-title>
        </v-list-item>
        <v-list-group v-else no-action>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{nav.buttonText}}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item v-for="(subMenu, index) in nav.subMenu" :key="index" :to="subMenu.path">
            <v-list-item-title>
              {{subMenu.buttonText}}
            </v-list-item-title>
          </v-list-item>
        </v-list-group>
      </div> 
      <v-list-item v-if="loggedIn" @click="Logout()">
        <v-list-item-title>
          LOGOUT
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    NavigationTree: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapGetters(["loggedIn"]),
  },
  methods: {
    test(value){
      if(!value)
        this.$emit('CloseDrawer');
    },
    Logout() {
      this.$emit("Logout");
    }
  }
};
</script>

<style>
</style>