<template>
  <v-app-bar app color="primary" dark width="0">
    <v-app-bar-nav-icon class="d-lg-none primary" @click.stop="ToggleDrawer()"></v-app-bar-nav-icon>
    <router-link to="/">
      <!-- <div class="d-flex align-center"> -->
        <v-img
          alt="Vuetify Logo"
          class="d-none d-lg-block shrink mr-2"
          contain
          src="../../assets/logo.png"
          transition="scale-transition"
          width="100"
          to="/"
        />
      <!-- </div> -->
    </router-link>
    <v-spacer></v-spacer>
    <div v-for="(nav, index) in NavigationTree" :key="index" class="d-none d-lg-block">
      <v-btn v-if="nav.subMenu.length <= 0" :to="nav.path" text>
        <span class="mr-2">{{nav.buttonText}}</span>
      </v-btn>
      <v-menu v-else open-on-hover bottom offset-y>
        <template v-slot:activator="{on, attrs}">
          <v-btn v-bind="attrs" v-on="on" text>
            <span class="mr-2">{{nav.buttonText}}</span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="(subMenu, index) in nav.subMenu" :key="index" :to="subMenu.path">
            <v-list-item-title>{{subMenu.buttonText}}</v-list-item-title> 
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <v-btn v-if="loggedIn" @click="Logout()" class="d-none d-lg-block" text>
      <span class="mr-2">LOGOUT</span>
    </v-btn>
  </v-app-bar>
</template> 

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    NavigationTree: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapGetters(["username", "roles", "loggedIn"]),
  },
  methods: {
    ToggleDrawer() {
      this.$emit("ToggleDrawer");
    },
    Logout() {
      this.$emit("Logout");
    }
  },
  mounted() {
    this.$anime({
      targets: "header",
      width: "100%",
    });
  }
};
</script>

<style>
</style>