<template>
  <v-alert  v-model="alert " top :type="type" dismissible>{{ msg }}</v-alert >
</template>

<script>
export default {
  props: {
    msg: {
      type: String,
      default: ""
    },
    type: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      alert : true,
      timeout: 5000
    };
  },
  created(){
    setTimeout(() => { this.alert = false }, 10000);
  }
};
</script>

<style>
</style>