<template>
  <v-form class="view">
    <v-container>
      <v-row>
        <v-col col="12" lg="6">
          <v-row>
            <v-col offset-lg="1" lg="10">
              <v-text-field
                outlined
                v-model.trim="account.username"
                type="text"
                id="input-text-username"
                class="input-text"
                label="Username:"
                placeholder="Username"
                @keyup.enter="Login"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col offset-lg="1" lg="10">
              <v-text-field
                outlined
                v-model.trim="account.password"
                type="password"
                id="input-text-password"
                class="input-text"
                label="Password:"
                placeholder="Password"
                @keyup.enter="Login"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col offset="1" cols="10">
              <v-row justify="center" justify-lg="end">
                <v-btn
                  id="button-login"
                  class="ma-2 button-login"
                  to="/register"
                  v-show="ShowRegisterButton"
                  >REGISTER</v-btn
                >
                <v-btn
                  id="button-login"
                  class="ma-2 button-login"
                  color="accent"
                  @click="Login"
                  >LOGIN</v-btn
                >
              </v-row>
            </v-col>
          </v-row>

          <v-row>
            <v-col offset="1" cols="10">
              <v-row justify="center" justify-lg="end">
                <a @click="$router.push({ path: 'account/password/reset' })"
                  >Forgot Password</a
                >
              </v-row>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" lg="6" >
          <v-row justify="center"><h1>Continue with:</h1></v-row>
          <v-row justify="center"
            ><GoogleAuthButton @AuthSuccess="LoginExternal" />
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";
import GoogleAuthButton from "@/components/socials/GoogleAuthButton";

export default {
  components: {
    GoogleAuthButton,
  },
  props: {
    ShowRegisterButton: {
      type: Boolean,
      default: true,
    },
  },

  methods: {
    Login() {
      this.$emit("Login");
    },
    LoginExternal(googleUser) {
      this.$emit("LoginExternal", googleUser);
    },
  },

  computed: {
    ...mapGetters(["account"]),
  },
};
</script>

<style>
</style>>