<template>
  <v-form v-model="valid" class="view">
    <v-container>

      <v-row justify="center">
        <v-col lg="3" align-self="center">
          <v-row justify="center">
            <v-col cols="12">
              <GoogleAuthButton @AuthSuccess="RegisterGoogle"/>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="12">
              <FacebookAuthButton />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.email"
            type="text"
            id="input-text-email1"
            class="input-text"
            label="Email:"
            placeholder="Email"
            :rules="emailRules"
          />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.userName"
            type="text"
            id="input-text-username"
            class="input-text"
            label="Username:"
            placeholder="Username"
            :rules="usernameRules"
          />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.password"
            type="password"
            id="input-text-password"
            class="input-text"
            label="Password:"
            placeholder="Password"
            :rules="passwordRules"
          />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.confirmPassword"
            type="password"
            id="input-text-confirm-Password"
            class="input-text"
            label="Confirm Password:"
            placeholder="Confirm Password"
            :rules="confirmPasswordRules.concat(passwordConfirmationRule)"
          />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.firstName"
            type="text"
            id="input-text-first-name"
            class="input-text"
            label="First Name:"
            placeholder="First Name"
            :rules="firstNameRule"
          />
        </v-col>
      </v-row>  

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.lastName"
            type="text"
            id="input-text-last-name"
            class="input-text"
            label="Last Name:"
            placeholder="Last Name"
            :rules="lastNameRule"
          />
        </v-col>
      </v-row>              

      <v-row justify="center">
        <v-col lg="8">
          <v-text-field
            outlined
            v-model.trim="account.phoneNumber"
            type="number"
            id="input-text-phone"
            class="input-text"
            label="Phone Number:"
            placeholder="123-456-7890"
            :rules="phoneRules"
          />
        </v-col>
      </v-row>      

      <v-row v-if="ShowControls">
        <v-col cols="10">
          <v-row justify="center" justify-lg="end">
            <v-btn
              id="button-register"
              class="button-register"
              @click="Register"
              color="accent"
              :disabled="!valid"
            >REGISTER</v-btn>
          </v-row>
        </v-col>
      </v-row>

    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex';
import GoogleAuthButton from '@/components/socials/GoogleAuthButton.vue';
import FacebookAuthButton from '@/components/socials/FacebookAuthButton.vue';

export default {
  components: {
    GoogleAuthButton,
    FacebookAuthButton
  },

  props: {
      ShowControls: {
          type: Boolean,
          default: true
      }
  },      

  data: () => ({
    valid: true,
    emailRules:[
      v => !!v || 'Email is required',
      v => /.+@.+\..+/.test(v) || 'Email is not valid'
    ],
    usernameRules: [
      v => !!v || 'Username is required',
      v => v && v.length > 4 || 'Username must be more than 4 characters'
    ],
    passwordRules: [
      v => !!v || 'Password is required',
      v => v && v.length > 6 || 'Password must be more than 6 characters'
    ],
    confirmPasswordRules: [
      v => !!v || 'Confirm Password is required',
      v => v && v.length > 6 || 'Password must be more than 6 characters',
    ],
    firstNameRule: [
      v => !!v || 'First name required',
    ],
    lastNameRule: [
      v => !!v || 'Last name required',
    ],    
    phoneRules: [
      v => !!v || 'Phone number required',
      v => v && v.length >= 10 || 'Phone number too short'
    ],
  }),

  methods: {
    Register() {
      this.$emit('Register');
    },
    RegisterGoogle(googleUser){
      this.$emit('RegisterGoogle', googleUser);
    }
  },

  computed: {
    ...mapGetters(['account']),
    passwordConfirmationRule() {
      return () => (this.account.password === this.account.confirmPassword) || 'Password must match'
    },
    
  },
};
</script>

<style>
</style>