<template>
  <v-btn class="facebook-auth-button white--text" width="100%" color="blue">
      <v-icon left>mdi-facebook</v-icon>
      Register with Facebook
  </v-btn>
</template>

<script>
export default {

}
</script>

<style>
.facebook-auth-button {
  display: none;
}
</style>