<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 46 46"
    width="46"
    height="46"
  >
    <g id="Google-Button">
      <g id="9-PATCH"></g>
      <g id="btn_google_light_normal">
        <g id="logo_googleg_48dp">
          <path
            id="Shape"
            fill-rule="evenodd"
            class="shp0"
            d="M31.64 23.2C31.64 22.57 31.58 21.95 31.48 21.36L23 21.36L23 24.84L27.84 24.84C27.63 25.97 27 26.92 26.05 27.56L26.05 29.82L28.96 29.82C30.66 28.25 31.64 25.95 31.64 23.2L31.64 23.2Z"
          />
          <path
            id="Shape"
            fill-rule="evenodd"
            class="shp1"
            d="M23 32C25.43 32 27.47 31.19 28.96 29.82L26.05 27.56C25.24 28.1 24.21 28.42 23 28.42C20.66 28.42 18.67 26.84 17.96 24.71L14.96 24.71L14.96 27.04C16.44 29.98 19.48 32 23 32L23 32Z"
          />
          <path
            id="Shape"
            fill-rule="evenodd"
            class="shp2"
            d="M17.96 24.71C17.78 24.17 17.68 23.59 17.68 23C17.68 22.41 17.78 21.83 17.96 21.29L17.96 18.96L14.96 18.96C14.35 20.17 14 21.55 14 23C14 24.45 14.35 25.83 14.96 27.04L17.96 24.71L17.96 24.71Z"
          />
          <path
            id="Shape"
            fill-rule="evenodd"
            class="shp3"
            d="M23 17.58C24.32 17.58 25.51 18.03 26.44 18.93L29.02 16.34C27.46 14.89 25.43 14 23 14C19.48 14 16.44 16.02 14.96 18.96L17.96 21.29C18.67 19.16 20.66 17.58 23 17.58L23 17.58Z"
          />
          <path
            id="Shape"
            fill-rule="evenodd"
            class="shp4"
            d="M14 14L32 14L32 32L14 32L14 14Z"
          />
        </g>
        <g id="handles_square"></g>
      </g>
    </g>
  </svg>
</template> <script>
export default {};
</script> <style>
tspan {
  white-space: pre;
}
.shp0 {
  fill: #4285f4;
}
.shp1 {
  fill: #34a853;
}
.shp2 {
  fill: #fbbc05;
}
.shp3 {
  fill: #ea4335;
}
.shp4 {
  fill: none;
}
</style>