<template>
  <v-btn id="google-auth-button" class="google-auth-button">
    <v-icon left large>$googleIcon</v-icon>
    Sign in with Google
  </v-btn>
</template>

<script>
export default {
  data: () => ({
    auth2: {},
  }),

  computed: {
    gapi() {
      return window.gapi;
    },
  },

  methods: {
    GoogleAuthSuccess(googleUser) {
      this.$emit("AuthSuccess", googleUser);
    },
    GoogleAuthFail(error) {
      console.log(error);
      this.$store.dispatch("addNotification", {
        msg: "Error Registering with google",
        type: "error",
      });
    },
  },

  mounted() {
    this.gapi.load("auth2", () => {
      var auth2 = this.gapi.auth2.init({
        client_id: process.env.VUE_APP_GOOGLE_OAUTH_CLIENT_ID,
      });
      auth2.attachClickHandler(
        document.getElementById(
          "google-auth-button"),
          {},
          this.GoogleAuthSuccess,
          this.GoogleAuthFail
      );
    });
  },
};
</script>

<style scoped>

</style>