<template>
  <v-app>
    <Header v-on:ToggleDrawer="ToggleDrawer" :NavigationTree="NavigationTree" @Logout="Logout()" />
    <Drawer v-model="drawer" class="d-lg-none" :NavigationTree="NavigationTree" @Logout="Logout()" @CloseDrawer="ToggleDrawer()"/>
    <v-main>
      <v-container class="container">
        <v-row class="notifications" justify="center" align="center">
          <v-col cols="12">
            <Notifications
             v-for="notification in notifications"
             :key="notification.id"
             :msg="notification.msg"
             :type="notification.type"
           />
          </v-col>
        </v-row>
        <v-row>
          <v-col lg="10" offset-lg="1">
            <p class="font-weight-black display-1">{{$route.meta.pageTitle}}</p>
          </v-col>
        </v-row>
      </v-container>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import Header from "./components/general/Header";
import Drawer from "./components/general/Drawer";
import Notifications from "@/components/general/Notification";

export default {
  name: "App",
  components: {
    Header,
    Drawer,
    Notifications
  },
  data: () => ({
    drawer: false,
  }),
  computed: {
    ...mapGetters(['notifications', 'loggedIn', 'username', 'roles']),
    NavigationTree() {
      return this.CreateNavigationTree(this.$router.options.routes, "");
    }
  },
  methods: {
    CreateNavigationTree(routes, parentPath) {
      var navigationTree = routes
      .filter(route => {
        //Check if routes require authentication
        return (route.meta.authenticate === this.loggedIn
        //Exclude if path is home(*) or paths with no button text
        && (route.path !== "*" && route.meta.navButtonText)
        //Validate user roles against authorized roles for view
        && (route.meta.authorize.includes('*') || route.meta.authorize.some(role => this.roles.includes(role))))
      })
      .map((route) => {
        var subMenu = [];
        if(route.children != null) {
          subMenu = this.CreateNavigationTree(route.children, (parentPath + route.path));
        }
        return {
          buttonText: route.meta.navButtonText,
          path: parentPath + this.SubstituteParameters(route.path),
          subMenu : subMenu
        };
      });
      return navigationTree;
    },
    SubstituteParameters(path) {
      return path.replace(/:username/gi, this.username);
    },
    ToggleDrawer() {
      this.drawer = !this.drawer;
    },
    Logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push({ name: "Login" });
      });
    }
  },
};
</script>

<style scoped>
.container .notifications {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}
</style>
